@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Great+Vibes&display=swap');

  .slogan{
    font-family:'Great Vibes';
  }

  .logo{
    border-radius:50%;
  }

  body{
    background: #ccf;
  }

  .fmp{
    font-family:'Arvo';
  }
