{%  extends 'base.html' %}
{% block content %}
<center>
  <h1 class='fmp mb-3'>The Free Mind Project</h1>
<h1 class="slogan">
  Ludic<br>
</h1>
but<h1>Serious</h1>
  <hr/ >
</center>
  <div class="row">
    <a href="https://thefreemindproject.itch.io/greekpunk-rpg" target='_blank' class='col'><img class="img-fluid m-2 img-thumbnail" src="src/cover_greekpunk.jpg"></a>
    <a href="#" target='_blank' class='col'><img class="img-fluid m-2" src="" ></a>
    <a href="#" target='_blank' class='col'><img class="img-fluid m-2" src="" ></a>
    <a href="#" target='_blank' class='col'><img class="img-fluid m-2" src="" ></a>
  </div>
  <div class="row">
    <a href="#" target='_blank' class='col'><img class="img-fluid m-2" src="" ></a>
    <a href="#" target='_blank' class='col'><img class="img-fluid m-2" src="" ></a>
    <a href="#" target='_blank' class='col'><img class="img-fluid m-2" src="" ></a>
    <a href="#" target='_blank' class='col'><img class="img-fluid m-2" src="" ></a>
  </div>
  <div class="row">
    <a href="#" target='_blank' class='col'><img class="img-fluid m-2" src="" ></a>
    <a href="#" target='_blank' class='col'><img class="img-fluid m-2" src="" ></a>
    <a href="#" target='_blank' class='col'><img class="img-fluid m-2" src="" ></a>
    <a href="#" target='_blank' class='col'><img class="img-fluid m-2" src="" ></a>
  </div>
  <div class="row">
    <a href="#" target='_blank' class='col'><img class="img-fluid m-2" src="" ></a>
    <a href="#" target='_blank' class='col'><img class="img-fluid m-2" src="" ></a>
    <a href="#" target='_blank' class='col'><img class="img-fluid m-2" src="" ></a>
    <a href="#" target='_blank' class='col'><img class="img-fluid m-2" src="" ></a>
  </div>
  {% endblock %}
