{% extends 'base.html' %}
{% block content %}
<h1>Projects in progress</h1>
<p>These are the projects on progress. You can be updated about the status of the development of each one of them on Twitter. But if you want an easy way to keep track of the process you can use the links below.</p>
<p>If you like our project and you have any skill to contribute to one of the projects below (art, beta reading, playtest, proofreading, translating, etc...), your help would be very appreciated. If you want to volunteer, please email us. As retribution, you will receive a free copy of the product you help to develop and your name and contact will be in the credits.</p>
  <div class="row">
      <a href="#" target='_blank' class='col'><img class="img-fluid m-2 img-thumbnail" src="{{ url_for('static', filename='cover_poe.jpg')}}"></a>
      <a href="#" target='_blank' class='col'><img class="img-fluid m-2 img-thumbnail" src="{{ url_for('static', filename='cover_princess.jpg')}}" ></a>
  </div>
  {% endblock %}
